* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.insta {
    width: 300px;
    height: 300px;
    /* background-color: black; */
    background: linear-gradient( #808080cb, black);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.white {
    width: 210px;
    height: 210px;
    border: 20px solid white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circle {
    width: 100px;
    height: 100px;
    border: 20px solid white;
    border-radius: 50%;
}

.circle::after {
    content: '';
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 15px;
}